body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(73deg, #00ff00, #229a22, #1bff1b);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
    width: 390px;
    height: 50px;
}

/* Estilize o hover para dar um feedback visual quando o mouse estiver sobre o botão */
button:hover {
    background-color: #2980b9;
    transform: scale(1.10); /* Aumenta a escala do botão em 5% no hover */
    padding: 17px 32px; /* Ajusta o tamanho do botão no hover */
}